.container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  position: relative;
  width: 320px;
  height: 400px;
  border-radius: 10px;
  border: 2px solid var(--border);

  background: linear-gradient(
    90deg,
    var(--element) 25%,
    #ffffff 50%,
    var(--element) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
