.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid var(--border);
  border-radius: 10px;
  transition: filter 0.15s ease-in-out;
}
.buttonUnselected {
  filter: grayscale(0.85);
}
.button span {
  position: absolute;
  bottom: -44px;
  left: 50%;
  z-index: 5;
  padding: 5px 10px;
  font-weight: 700;
  color: var(--foreground);
  pointer-events: none;
  background-color: var(--background);
  border: 2px solid var(--border);
  border-radius: 10px;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.15s ease-in-out;
}
.button span:after {
  position: absolute;
  top: -6px;
  left: 50%;
  z-index: 6;
  width: 6px;
  height: 6px;
  content: "";
  background-color: var(--background);
  border-top: 2px solid var(--border);
  border-left: 2px solid var(--border);
  transform: translateX(-50%) rotate(45deg);
}
.button:hover span {
  opacity: 1;
}
.selected {
  position: absolute;
  bottom: -13px;
  z-index: -1;
  width: 80%;
  height: 5px;
  pointer-events: none;
  background-color: var(--accent);
  border-radius: 3px;
}
