.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: 80px;
}
.noResults {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 270px);
  margin-top: 100px;
}
.noResults h2 {
  font-size: 1.8em;
  font-weight: 800;
  color: var(--color-faint);
}
.noResults button {
  width: 200px;
  height: 40px;
  font-size: 1em;
  font-weight: 800;
  color: var(--background);
  cursor: pointer;
  background: var(--accent);
  border: none;
  border-radius: 10px;
}
