.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 90px);
}

.spinner {
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.path1,
.path2 {
  transform-origin: center;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
