.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #222;
  color: #fff;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid var(--border);
}
.navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navigation h1 {
  font-size: 1.5em;
  font-weight: 900;
}
.navigation ul {
  position: relative;
  top: 2px;
  display: flex;
  gap: 20px;
}
.navigation ul li {
  position: relative;
  font-size: 1em;
  font-weight: 800;
}
.active {
  color: var(--accent);
}
.active:after,
.navigation li:hover::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  background: var(--accent);
  height: 5px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
